{{> header}}
<section id="viewFlightDetails">
    <div class="ticket-area">
        <div class="ticket-area-left">
            <img src="{{flight.image}}" alt="Image">
        </div>
        <div class="ticket-area-right">
            <h3>{{flight.destination}}</h3>
            <div>from {{origin}}</div>
            <div class="data-and-time">
                {{flight.departure}} {{flight.departureTime}}
                {{#if isCreator}}
                    <a href="#/editFlight/{{flight._id}}" class="edit-flight-detail"></a>
                {{/if}}
            </div>
            <div>
                {{flight.seats}} Seats ({{flight.cost}} per seat)
            </div>
        </div>
    </div>
</section>
{{> footer}}